<meta name="robots" content="noai, noimageai">
<meta name="generator" content="mdBook 0.4.30">
<!-- TODO: Insertar humans.txt -->
<meta name="dcterms.rightsHolder" content="Iván Ruvalcaba">
<meta name="dcterms.rights" content="CC0-1.0">
<meta name="dcterms.dateCopyrighted" content="2023">
